:root {
    --mainFont: "Roboto", sans-serif;
    --secondaryFont: "Lato", sans-serif;

    --gutter: 5.6rem;

    --primary: #1073ba;
    --secondary: #00da55;
    --gray: #3b3b3b;
    --lightGray: #e1e1e1;
    --white: #ffffff;
    --black: #1f1e1e;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 1.6;
}

/* Globals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondaryFont);
    line-height: 1.2;
    margin: calc(var(--gutter) / 2) 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utilities */
.text-center {
    text-align: center;
}

/* Gradients */
.green-gradient {
    color: transparent;
    background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Header */
.header {
    background-color: var(--black);
    color: var(--white);
    padding: calc(var(--gutter) * 2) 0;
}

.header img {
    width: 100%;
}

@media (min-width: 768px) {
    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

.header-text {
    text-align: center;
}

@media (min-width: 768px) {
    .header-text {
        text-align: left;
    }
}

.product-tagline {
    font-size: 2rem;
    font-weight: 900;
    margin: 2.4rem 0 0;
}

@media (min-width: 768px) {
    .product-tagline {
        font-size: 2.8rem;
    }
}

.product-name {
    font-size: 5.6rem;
}

@media (min-width: 768px) {
    .product-name {
        font-size: 9.6rem;
    }
}

.product-description {
    margin: 0 0 2.4rem;
}

.product-price span {
    font-size: 4rem;
    font-weight: 900;
}

@media (min-width: 768px) {
    .product-price span {
        font-size: 5.6rem;
    }
}

/* Icons */
.icons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: var(--gutter) 0;
}

@media (min-width: 576px) {
    .icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}

.icon {
    text-align: center;
}

.icon img {
    width: 5.6rem;
    margin: 0 auto;
}

.icon h2 {
    font-size: 2.4rem;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 900;
}

/* About TechPRO */
.about-tech {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .about-tech {
        background-image: linear-gradient(to left, rgba(0,0,0,.5) 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
        padding: calc(var(--gutter) * 3) 0;
    }
}

.about-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--gutter);
}

@media (min-width: 992px) {
    .about-tech-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        row-gap: unset;
        column-gap: var(--gutter);
    }
}

.about-tech-text {
    grid-row: 2 / 3;
    color: var(--white);
}

@media (min-width: 992px) {
    .about-tech-text {
        grid-row: unset;
    }
}

.about-tech-text h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) {
    .about-tech-text h2 {
        font-size: 4rem;
    }
}

.about-tech-text p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .about-tech-text p {
        font-size: 1.8rem;
    }
}
